{% extends 'issues/base.html' %}

{% block content %}
<h2 class="mb-4">Report a New Issue</h2>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Issue Category</label>
        <select name="category" class="form-select" id="categorySelect" required>
			<option value="">Select category</option>
			{% for category in categories %}
				<option
					value="{{ category.id }}"
					data-emergency="{{ category.is_emergency|yesno:'true,false' }}"
					data-helpline="{{ category.helpline_number }}"
				>
					{{ category.name }}
				</option>
			{% endfor %}
		</select>		
    </div>

    <!-- Emergency Alert -->
	<div id="emergencyBox" class="alert alert-danger d-none">
		<strong>⚠ Emergency Issue</strong><br>
		Please contact emergency services immediately:<br>
		📞 <strong id="helplineNumber"></strong>
	</div>

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text" name="location" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Submit Issue</button>
</form>
{% endblock %}

<script>
	document.getElementById('categorySelect').addEventListener('change', function () {
	
		const selected = this.options[this.selectedIndex];
		const isEmergency = selected.dataset.emergency === "true";
		const helpline = selected.dataset.helpline;
	
		const box = document.getElementById('emergencyBox');
		const phone = document.getElementById('helplineNumber');
	
		if (isEmergency && helpline) {
			phone.textContent = helpline;
			box.classList.remove('d-none');
		} else {
			box.classList.add('d-none');
			phone.textContent = "";
		}
	});
</script>
	
	